.col-md-4
  .card.book-card
    %a
      = image_tag 'https://images-na.ssl-images-amazon.com/images/I/91p0SdYseNL._AC_UL320_SR214,320_.jpg', class: 'card-img-top'
    .card-body
      %h5.card-title
        %a 
          All the Ugly and Wonderful Things
      %a.card-link
        Amazon
      %a.card-link
        Ebay
  %br