.jumbotron
  %h1.display-4.text-center BookStore
  %p.lead.text-center
    Biggest bookstore! Easy to find your favor books
  = form_tag search_path, method: :get, class: 'form-inline' do
    .input-group.input-group-lg.col-md-12
      %input(type="text" class="form-control" id="query" name="query" aria-describedby="emailHelp" placeholder="name, category, isbn...")
      .input-group-append
        %button.btn.btn-primary(type="submit")
          %i.fa.fa-search
          Search

= render partial: 'shared/books', locals: {books: @books}