.navbar.navbar-expand-lg.fixed-top.navbar-light.bg-light
  .container
    %a.navbar-brand{:href => root_path} BookStore
    %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav
        - Category.roots.each do |cat|
          %li.nav-item
            %a.nav-link{:href => category_path(cat)}
              = cat.name
    
      %ul.nav.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link{:href => "#", :target => "_blank"} Help        
        - if user_signed_in?
          %li.nav-item.dropdown
            %a#mn-profile.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Hi,
              = current_user.email[0..2]
              %span.caret
            .dropdown-menu{"aria-labelledby" => "mn-profile"}
              %a.dropdown-item{:href => new_book_path} New Book
              %a.dropdown-item{:href => books_path} List Books                  
              .dropdown-divider
              %a.dropdown-item{:href => new_category_path} New Category
              %a.dropdown-item{:href => categories_path} List Categories
              .dropdown-divider
              %a.dropdown-item{:href => destroy_user_session_path} Logout
                     
        - else
          %li.nav-item
            %a.nav-link{:href => new_user_session_path} Login
          %li.nav-item
            %a.nav-link{:href => new_user_registration_path} Signup